//- https://demo.rsweb.com.tw/5/
nav.navbar.fixed-top.navbar-expand-md.navbar-top
  h2.logo 
    span.logo_left Accel
    span.logo_right P3
  .navbar-collapse.collapse
    //- form.d-flex.me-auto
    //-     input.form-control.search-bar(type="search" placeholder="Find some games..." aria-label="Search")
    ul.navbar-nav.ms-auto
      li.nav-item
        a.nav-link(href="#section-intro") About
      li.nav-item
        a.nav-link(href="#section-timeline") DashBoard
      li.nav-item
        a.nav-link(href="#section-schedule") Workflow
          
header#top.jumbotron
  .container
    .row
      .col-md-1
      h1.header_slogan_L.col-md-10 Redefining Phase 3 with AI
        p.header_slogan_s Predict outcomes. Optimize design. Reduce risk.
        button.btn.btn-primary Explore AccelP3

  //- h1.header_slogan_L Finding a good game?
section#project.section
  .container
    .row
      .col-md-1
      .col-md-10 
        h1 Our Project
        .row.text-white
          .col-md-6.d-flex.align-items-center
            .icon-wrapper.d-flex.align-items-center.justify-content-center.me-3
              i.fa.fa-pie-chart.fa-2x.text-white
            div
              h5 Analyzing
              p.mb-0 We transform complex clinical and real-world data into actionable insights, accelerating Phase 3 trial design with AI-driven analytics.

          .col-md-6.d-flex.align-items-center
            .icon-wrapper.d-flex.align-items-center.justify-content-center.me-3
              i.fa.fa-line-chart.fa-2x.text-white
            div
              h5 Predict
              p.mb-0 Our machine-learning models forecast trial outcomes and patient responses, enabling data-driven go/no-go decisions with precision.
        .row.text-white
          .col-md-6.d-flex.align-items-center
              .icon-wrapper.d-flex.align-items-center.justify-content-center.me-3.info_bottom
                i.fa.fa-database.fa-2x.text-white
              div
                h5 Database
                p.mb-0 We unify clinical, omics, and historical datasets into a data-driven platform, empowering pharmaceutical teams to design smarter and faster clinical trials.
          .col-md-6.d-flex.align-items-center
              .icon-wrapper.d-flex.align-items-center.justify-content-center.me-3
                i.fa.fa-database.fa-2x.text-white
              div
                h5 Optimize
                p.mb-0 We simulate trial outcomes and optimize study parameters—such as dosing, sample size, and patient stratification—reducing cost and duration while improving success probability.


section#market
  h1 The Clinical Trial Bottleneck
  .container
    .row
      .col-md-3.stat-item
        span.stat-number 3–5 Yrs
        h5.stat-title Phase 3 Duration
        hr
        p.stat-description Most Phase 3 trials take over three years, delaying access to critical treatments and vaccines.
      .col-md-3.stat-item
        span.stat-number >70%
        h5.stat-title Failure Rate
        hr
        p.stat-description A majority of late-stage trials fail due to poor patient selection and data fragmentation.
      .col-md-3.stat-item
        span.stat-number $2.9B
        h5.stat-title Average Cost per Drug
        hr
        p.stat-description The high cost of large-scale clinical testing limits innovation and accessibility.
      .col-md-3.stat-item
        span.stat-number +45%
        h5.stat-title R&D Time Growth Since 2010
        hr
        p.stat-description Despite advances in data collection, trial efficiency continues to decline.
        
//- section.photo-section
  h2 Find Some Good Games !
  .photo-gallery
    .photo-item(title="Black Myth: Wukong")
      img(src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/2358720/header.jpg?t=1729817855" data-title="test" alt="Workshop Photo 1")
    .photo-item(title="Grand Theft Auto V")
      img(src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/271590/header.jpg?t=1730486236")
    .photo-item(title="Terraria")
      img(src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/105600/header.jpg?t=1729752058" alt="Workshop Photo 3")
    .photo-item(title="Rust")
      img(src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/252490/header.jpg?t=1729817855" alt="Workshop Photo 4")
    .photo-item(title="ARK: Survival Evolved")
      img(src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/346110/header.jpg?t=1729817855" alt="Workshop Photo 5")
  
footer.footer
  .container
    .row
      //- .col-md-1
      .col-md-8
        p.me-auto © 2025 AccelP3 copyright
      .col-md-4
        a.back-to-top.ms-auto(href="#") 
          //- p back to top   
          i.fa.fa-chevron-right
          
          
    